* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    color: #000;
}

#page-loader {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.5s opacity ease-out;
    opacity: 1;
    display: block;
}

#page-loader.hidden {
    pointer-events: none;
    opacity: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid orange;
    border-color: orange transparent orange transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


#app {
    position: relative;
}

#docs-link {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: orange;
    border: solid 2px orange;
    padding: 5px;
    font-size: 14px;
    /* text-decoration: underline; */
}

#search-form {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
}

#search-form #provider-text {
    text-align: center;
    color: lightgrey;
    font-size: 12px;
    text-align: right;
    width: 100%;
    display: block;
}

#search-form #provider-text .url {
    color: grey;
}

#search-form #provider-text button {
    background-color: orange;
    padding: 3px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

#search-form #provider-text button:hover {
    background-color: orange;
    opacity: 0.7;
}

#search-form #logo {
    margin: auto;
    display: block;
    max-width: 300px;
    margin-bottom: 5px;
}

#search-form #query {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 14px;
}

#search-form .loading-suggestions {
    color: grey;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    border: solid 1px lightgrey;
    display: block;
    margin: auto;
}

#search-form #suggestions {
    width: 100%;
    max-width: 500px;
    list-style-type: none;
    display: block;
    margin: auto;
    /* border: solid 1px lightgrey; */
}

#search-form #suggestions li {
    padding: 5px;
    border: solid 1px lightgrey;
    cursor: pointer;
}

#search-form #suggestions li:hover {
    background-color: lightgrey;
}

#search-form #suggestions li a {
    text-decoration: none;
}

#search-form #suggestions li .song-title {
    font-size: 12px;
    color: black;
}

#search-form #suggestions li .song-artist {
    color: grey;
    font-size: 12px;
}

#lyrics-container {
    width: 100%;
    padding: 20px;
    max-width: 500px;
    font-size: 14px;
    display: block;
    margin: auto;
}